<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" integrity="sha512-DWE4y4seCkjJnL+cbIqoRYkNYZbS2J6S5oi5v+8Wjmd/6n5tr6PZfrGvAJKw+ZFdN1cNlLX9LYzgklWb7eDyKg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js" integrity="sha512-LpTtTjVXCCm3qFlNeV7jKtQ1uF7fR8ROJwKxPdKrTnTzXNbw83GnWSyFUpfjKk+e/2g8QcWZ7nI+nlPjUgY5UQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      
</head>
<body>
    <div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>This is a simple jumbotron.</p>
</div>

  
</body>
</html>